* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
/* needs to change to just header */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* header h1 */
header h1 {
    display: inline-block;
    font-size: 48px;
}
/* header h1 .seo */
header h1 .seo {
    color: #d9dcd6;
}
/* .links */
.links {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* .links ul */
.links ul {
    list-style-type: none;
}
/* .links ul li */
.links ul li {
    display: inline-block;
    margin-left: 25px;
}
/* i think this stays the same lol */
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* something needs to happen here cuz idk how to leave an alt comment for this  */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* .main-section-content */
.main-section-content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* i think this code needs to be moved towards the end of the content items */
/* .side-pieces */
.side-pieces {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* the following three are the same and will be refrenced under the new class name of 
.side-info */
.side-info {
    margin-bottom: 32px;
    color: #ffffff;
}


/* so the following 3 will bre replaced with .side-info h3 */

.side-info h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* the following 3 will be replaced with .side-info img */
.side-info img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


/* following 3 will be replaced with .article-insides */
.article-insides {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* the following 3 will be replaced with .article-insides img */
.article-insides img {
    max-height: 200px;
}


/* the following 3 will be replaced with .article-insides h2 */
.article-insides h2 {
    margin-bottom: 20px;
    font-size: 36px;
}


.footer-tings {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer-tings h2 {
    font-size: 20px;
}